

html, body{
    div{
        box-shadow: inset 0px 0px 0px 1px lightgray;
    }
}

.border{
    /*border: lightgray 1px solid;*/
    box-shadow: inset 0px 0px 0px 1px lightgray;
    border-radius: 4px;
}

.round-1{
    border-radius: 10px;
}

.round-2{
    border-radius: 20px;
}

.round-3{
    border-radius: 30px;
}

.round-4{
    border-radius: 40px;
}

.round-pill{
    border-radius: 80px;
}

.round-bottom-4{
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}