


.bg-transparent{ background-color: transparent;}
.bg-dark{ background-color: #222;}
.bg-dark-glass{ background-color: rgba(0,0,0,0.5);}
.bg-white{ background-color: white;}
.bg-lightgray{ background-color: lightgray;}
.bg-blue{ background-color: #3358ff;}
.bg-green{ background-color: lightgreen;}