
/*
    # Responsive CSS #

    Author: Matheus Pires
    Email: mopires23@gmail.com
    Github: @mopires
*/



.p-0{
    padding: 0px;
}

.p-1{
    padding: 10px;
}

.p-2{
    padding: 20px;
}

.p-3{
    padding: 30px;
}

.p-4{
    padding: 40px;
}

.p-5{
    padding: 45px;
}


@media screen and (max-width: 768px) {

    .p-sm-0{
        padding: 0px;
    }

    .p-sm-1{
        padding: .25rem;
    }

    .p-sm-2{
        padding: .5rem;
    }

    .p-sm-3{
        padding: .75rem;
    }

    .p-sm-4{
        padding: 1rem;
    }

    .p-sm-5{
        padding: 1.2rem;
    }

}


@media screen and (min-width: 769px) and (max-width: 1200px) {



}


@media screen and  (min-width: 1200px) {

    .p-lg-0{
        padding: 0;
    }

    .p-lg-1{
        padding: .25rem;
    }

    .p-lg-2{
        padding: .5rem;
    }

    .p-lg-3{
        padding: .75rem;
    }

    .p-lg-4{
        padding: 1rem;
    }

    .p-lg-5{
        padding: 1.2rem;
    }

}