/*
    # Responsive CSS #

    Author: Matheus Pires
    Email: mopires23@gmail.com
    Github: @mopires
*/

//general parameters
$line-height: 1.61803399;
$-webkit-font-smoothing: antialiased;
$-moz-osx-font-smoothing: grayscale;
$margin: 0 auto;
$padding: 0px;
$height: 100%;
$width: 100%;
$background-color: rgba(0,0,0,0.0005);
$color: #333;
$font-family: Nunito;
$transition: all 0.5s;